*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslategrey;
}
.sim{
    height: 100vh;
    width: 100vw;
}   
nav{
    height: 10%;
    background-color: bisque;
}
.btn{
    background-color: aquamarine;
    padding: 20px;
    width: fit-content;
    display: inline-block;
}
.simulator_window{
    height: 90%;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid_box{
    height: 300px;
    width: 300px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.outline{
    border: 2px dotted rgb(255, 255, 255);
    height: 80%;
    width: 100%;
}
.object_box{
    position: static;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}